.logo{
  background-color: transparent;
  
}

.App{
  background-color: #19191A;
  color: white;
}

.App-header {
  background-color: #151515;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* WEB VIEW */
@media (min-width: 551px){
  .demo-container{
    display: flex;
    flex-direction: column;
  }

  .feature-container{
    display: flex;
    height: 550px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-justify: center;
  }

  .feature-gif{
    display: flex;
    height: 500px;
    width: 250px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10%;
    border-style: none;
    outline: 15px solid;
    outline-color: rgb(25, 25, 26);
    outline-offset: -10px;
    outline-style: solid;
  }

  .gif-container{
    border-radius: 20%;
    position: relative;
    align-content: center;
  }

  .feature-text{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    width: 450px;
    height: 500px;
    justify-items: center;
    align-items: center;
  }

  .feature-header{
    padding-right: 20px;
    align-self: flex-start;
  }

  .feature-description{
    line-height: 23px;
    height: 485px;
    
  }
}

/* MOBILE VIEW */
@media (max-width: 550px){
  .demo-container{
    display: flex;
    flex-direction: column;
  }

  .feature-container{
    display: block;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    text-justify: center;
  }

  .feature-gif{
    align-self: center;
    height: 500px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
    border-style: none;
    outline: 15px solid;
    outline-color: rgb(25, 25, 26);
    outline-offset: -10px;
    outline-style: solid;
  }

  .gif-container{
    height: 500px;
    border-radius: 20%;
    margin-left: 1.5em;
    padding-top: 10px;
  }

  .feature-text{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .feature-header{
    padding-right: 20px;
    align-self: flex-start;
  }

  .feature-description{
    line-height: 23px;
    padding-right: 20px;
    margin-right: 40px;
    text-align: start;
  }
}
